[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
epdx = ">=0.2.5"

[dev-packages]
mkdocs-material = "*"
mdx-include = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
