name: "Release Docs"
on:
  workflow_call:

jobs:
  deployDocs:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: json-schema
          path: docs/schemas/

      - uses: actions/download-artifact@v3
        with:
          name: rust-schema
          path: docs/schemas/

      - uses: actions/download-artifact@v3
        with:
          name: pydantic-schema
          path: docs/schemas/

      - uses: actions/download-artifact@v3
        with:
          name: typescript-schema
          path: docs/schemas/

      - uses: actions/download-artifact@v3
        with:
          name: changelog
          path: docs/

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install maturin virtualenv
          virtualenv venv
          source venv/bin/activate
          maturin develop --extras doc --target x86_64-unknown-linux-gnu

      - name: Build Docs
        run: |
          source venv/bin/activate
          mkdocs build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2